* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.wrapper {
  background: gray;
}

.section {
  display: flex;
}

.flex-item {
  height: 100px;
  margin: 10px;
}

.flex-item-1 {
  background: red;
  flex: 2;
}

.flex-item-2 {
  background: green;
  flex: 3;
}

.flex-item-3 {
  background: orange;
  flex: 1;
}

.flex-item-4 {
  background: pink;
  flex: 2;
}
.flex-item-5 {
  background: lightgreen;
  flex: 3;
}

.flex-item-6 {
  background: lightseagreen;
  width: 100px;
}
.flex-item-7 {
  background: lightgoldenrodyellow;
  width: 100px;
}

.section-3 {
  justify-content: space-between;
}

.wrapper-pst {
  margin-top: 50px;
  position: relative;
  height: 200px;
  width: 100%;
  background: blue;
}

.box-brown {
  background: brown;
  width: 70%;
  height: 95%;
  position: absolute;
  left: 0;
  top: 2.5%;
}

.box-orange {
  background: orange;
  width: 50%;
  height: 90%;
  position: absolute;
  left: 0;
  top: 5%;
}

.box-red {
  background: red;
  width: 35%;
  height: 85%;
  position: absolute;
  left: 0;
  top: 7.5%;
}

.login-modal {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  min-width: 300px;
  max-width: 50%;
  margin: 100px auto;
}

.header {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.title {
  display: inline-block;
}
.btn-close {
  border: 1px solid #ebebeb;
  color: #757575;
  background: none;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  float: right;
}

.btn-login-social {
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 10px;
  height: 36px;
  background: none;
}

.btn-login-social i {
  margin-right: 5px;
}

.input-box {
  margin: 0;
  position: relative;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

label {
  display: inline-block;
  font-size: 12px;
  padding-bottom: 5px;
}

.input-box input {
  height: 36px;
  border: 1px solid #ebebeb;
  background: none;
  color: #212121;
  padding: 0px 15px;
  width: 100%;
  border-radius: 10px;
}

.input-box i {
  position: absolute;
  right: 15px;
}

.with-ic input {
  padding-right: 40px;
}

.btn-login {
  width: 100%;
  border: none;
  background: lightskyblue;
  border-radius: 10px;
  height: 36px;
  color: #fff;
  margin: 15px 0px;
}

.forgot-line {
  text-align: center;
}

.forgot-line a {
  text-decoration: none;
  color: lightskyblue;
}

.footer {
  margin-top: 15px;
  border-top: 1px solid #ebebeb;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: lightskyblue;
}

.profile-card {
  display: flex;
  align-items: stretch;
  min-width: 300px;
  max-width: 60%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin: 100px auto;
  padding: 30px;
}

.thumb,
.text-box {
  flex: 1;
}

.thumb {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
}

img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.text-box {
  margin-left: 15px;
}

.name-author {
  display: inline-block;
  font-size: 30px;
  font-style: italic;
  color: lightblue;
  margin: 0;
}

.btn-close-clear {
  border: none;
  background: none;
  color: lightskyblue;
  float: right;
  margin: -10px -10px auto;
  font-size: 20px;
}

.social-ic a {
  border-radius: 50%;
  display: inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background: lightblue;
  color: #fff;
}

blockquote {
  margin: 20px 0 0 0;
  font-weight: 300;
  font-size: 12px;
  color: lightsteelblue;
}
